:root {
  --global-bg-color: #ffffff;  
  --global-code-bg-color: #f5f5f5;  
  --global-text-color: #000000;  
  --global-text-color-light: #777777; 
  --global-theme-color: #9c27b0;  
  --global-hover-color: #9c27b0;
  --global-hover-text-color: #ffffff;  
  --global-footer-bg-color: #303030;  
  --global-footer-text-color: #cccccc;  
  --global-footer-link-color: #ffffff;  
  --global-divider-color: rgba(0, 0, 0, 0.1);  
  --global-card-bg-color: #ffffff;  
  --global-back-to-top-bg-color: rgba(0, 0, 0, 0.4);  
  --global-back-to-top-text-color: #ffffff;  
  --global-newsletter-bg-color: #ffffff;  
  --global-newsletter-text-color: #000000;  

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  --global-highlight-color: #ff0000; 
}

.repo-img-light {
  display: block;
}

#back-to-top {
  color: var(--global-back-to-top-text-color);
  background: var(--global-back-to-top-bg-color);
  bottom: 20px;
  right: 30px;
  height: 50px;
  width: 50px;
  z-index: 1000;
}